body {
    background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.0bBtNP5cOW8A-5wB7v5JXQAAAA%26pid%3DApi&f=1);
    padding-top: 10rem;
    background-size: cover;
}

